<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>MSI</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script 
    src="/static/pager.js"></script>
	
	<style>
	.alert {
	   padding: 5px 10px;
	   margin: 5px 0px;
	}
	
	</style>
</head>
<body>

	<div class="container">
		<div class="jumbotron">
			<h1>
				<th:block layout:fragment="title">Hello world</th:block>
			</h1>
			<p>Resize this responsive page to see the effect!</p>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<th:block layout:fragment="content">Layout content</th:block>
			</div>
			<div class="col-sm-4">
				<h3>Reusable Components</h3>
				<th:block th:include="component/sessionPanel">Nejaky text</th:block>
				<th:block th:include="component/sessionPanel">Ta ista komponenta</th:block>

			</div>
			<div class="col-sm-4">
				<h3>Else</h3>
				<th:block th:include="component/userTable">Nice user table</th:block>
				<h3>Users</h3>
				<th:block th:include="user/list">Zoznam pouzivatelov</th:block>

				<div class="table-responsive">

					<table class="table table-striped table-max-width-md"
						style="text-align: left">
						<tr>
							<th><strong>Column1</strong></th>
							<th><strong>Column2</strong></th>
						</tr>
						<tr>
							<td>Hodnota 1</td>
							<td>Hodnota2</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>